{% extends "quiz/layout.html" %} 

{% block body %} 
    <ul>
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            <button>
                <a href="{% url 'pregunta_view' 1 %}">JUGAR!</a>
            </button>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
