<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pregunta</title>
  </head>
  <body>
    <p>te quedan {{ vidas }} vidas</p>
    <h1>{{ pregunta.texto }}</h1>
    <ul>
      {% for respuesta in respuestas %}
      <form action="{% url 'pregunta_view' pregunta.id %}" method="post">
        {% csrf_token %}
        <li>
            <button type="submit" name="respuesta" value="{{respuesta.id}}">
                {{ respuesta.texto }}
            </button>
        </li>
      </form>
      {% endfor %}
    </ul>
  </body>
</html>
