{% extends "quiz/layout.html" %}

{% block body %}
    <h1>tu puntaje es {{ puntaje }}!!</h1>
    {% if ganador %}
        <h2>GANASTE!!</h2>
    {% else %}
        <h2>PERDISTE :(</h2>
    {% endif %}

    <button>
        <a href="{% url 'pregunta_view' 1 %}">JUGAR DE NUEVO</a>
    </button>

    {% load social_share %}

    {% post_to_facebook object_or_url "Post to Facebook!" %}
    {% post_to_twitter "mi ultimo puntaje: {{puntaje}}. Check it out!" object_or_url "Post to Twitter" %}

{% endblock %}